<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBXXa4M_q5iOKgYI6gqlh_uUkRFJ-PT2OM</string>
	<key>GCM_SENDER_ID</key>
	<string>327970491953</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.koOk</string>
	<key>PROJECT_ID</key>
	<string>ok-ko-9890d</string>
	<key>STORAGE_BUCKET</key>
	<string>ok-ko-9890d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:327970491953:ios:41b8d90205f78ffac04f10</string>
</dict>
</plist>